@media (min-width: 900px) {
    .social-button {
        width: 130px;
        height: 130px;
    }
    
    .social-button-icon {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 900px) {
    .social-button {
        width: 90px;
        height: 90px;
    }
    
    .social-button-icon {
        width: 45px;
        height: 45px;
    }
}

.social-button {
    transition: transform .25s ease-in;
    overflow: hidden;
    border: none;
    background-color: rgb(225, 225, 225);
    border-radius: 20px;
}

.social-button:hover {
    transform: scale(0.95, 0.95);
}

.social-button-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button:hover .social-button-container {
    animation: move-down .2s ease-in;
}

@keyframes move-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

/* mini icon */

@media (min-width: 900px) {
    .social-button-mini {
        width: 80px;
        height: 80px;
    }
    
    .social-button-icon-mini {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 900px) {
    .social-button-mini {
        width: 90px;
        height: 90px;
    }
    
    .social-button-icon-mini {
        width: 45px;
        height: 45px;
    }
}

.social-button-mini {
    transition: transform .25s ease-in;
    overflow: hidden;
    border: none;
    background-color: rgb(225, 225, 225);
    border-radius: 20px;
}

.social-button-mini:hover {
    transform: scale(0.95, 0.95);
}

.social-button-container-mini {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button-mini:hover .social-button-container-mini {
    animation: move-down .2s ease-in;
}

@keyframes move-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}