.footer {
    width: 100svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #242B4B;
    border-top: 2px solid rgb(220, 220, 220);
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-button-container {
    margin: 10px;
}

.footer-name {
    font-size: 2rem;
    margin: 10px;
}
