.portfolio {
    width: 96%;
    min-height: 100vh;
    padding-bottom: 80px;
    display: grid;
    gap: 1rem;  
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    overflow: auto;
    justify-items: center;
}

@media (min-width: 600px) {
    .portfolio-title {
        font-size: 60px;
        margin-bottom: 20px;
        text-align: center;
        padding-top: 70px !important;
    }
}

@media (max-width: 600px) {
    .portfolio-title {
        font-size: 45px;
        color: white;
        margin-bottom: 20px;
        text-align: center;
    }
}