.home-button {
    background: none;
    border: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.home-button-icon {
    fill: #ff3366;
}

.home-button:hover .home-button-icon {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 2s;
}

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    15%  { transform: scale(1.1,.9)   translateY(0); }
    36%  { transform: scale(.9,1.1)   translateY(-20px); }
    52%  { transform: scale(1.05,.95) translateY(0); }
    60%  { transform: scale(1,1)      translateY(-7px); }
    82%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}