.contact-card {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;
    width: 100%;
}

.contact-card h1 {
    text-align: center;
    padding-top: 70px !important;
    margin: 0 !important;
    font-size: 60px;
}

.contact-card p {
    color: rgb(110, 110, 110);
    text-align: center;
    font-size: 1.5rem;
    width: clamp(300px, 50%, 90%);
    margin-left: auto;
    margin-right: auto;
}

.contact-card-form {
    display: flex;
    flex-direction: column;
    width: clamp(300px, 50%, 90%);
    margin-left: auto;
    margin-right: auto;
}

.contact-card-input {
    font-family: monospace;
    border: none;
    margin-bottom: 4px;
    border-radius: 6px;
    padding: 8px;
    font-size: 1rem;
    background-color: rgb(220, 220, 220);
}

.contact-card-input:focus {
    outline: none;
}

.contact-card-textarea {
    resize: none;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    padding: 6px;
    font-size: 1rem;
    background-color: rgb(220, 220, 220);
}

.contact-card-textarea:focus {
    outline: none;
}

.contact-card-button {
    font-family: monospace;
    background-color: rgb(220, 220, 220);
    margin-top: 40px;
    width: 180px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    align-self: center;
    border-radius: 6px;
    border: none;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: rgb(120, 120, 120);
    transition: transform .25s ease-in, background-color .25s ease-in, color .25s ease-in;
}

.contact-card-button:hover {
    transform: scale(0.95, 0.95);
    background-color: #ff3366;
    color: white;
}

.contact-card-error {
    text-align: center;
    height: 14px;
    color: #ff3366;
}